.summary {
	text-align: center;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #ccc;
	font-size: 36px;
	}
	
.right code {color: green;}

.deck-previous.wrong code, .deck-before.wrong code{color: red;}

.block {
	 margin: 30px auto;
	 padding: 40px 0;
}

.standalone {
	font-size: 4.5em;
}

li.important {color: #0B7495;font-weight: bold;}
.rightcolumn {padding-left: 20px;}

.html5 {
	background: url("images/html5-logo.png") no-repeat center right;
}
